---
layout: page
---

<div class="row">

    <h2>Mission User Stories</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Acceptance Criteria</th>
          <th>Value</th>
        </tr>
      </thead>
  
      <tbody>
        {% for story in site.data.stories.stories %}
        <tr class="story">
            <td>{{ story.id }}</td>
            <td>{{ story.description }}</td>
            <td>{{ story.acceptance }}</td>
            <td>{{ story.value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Bonus Stories</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Acceptance Criteria</th>
          <th>Value</th>
        </tr>
      </thead>
  
      <tbody>
        {% for story in site.data.stories.bonusStories %}
        <tr class="story">
            <td>{{ story.id }}</td>
            <td>{{ story.description }}</td>
            <td>{{ story.acceptance }}</td>
            <td>{{ story.value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
  </div>