---
layout: page
---

<div class="row">

    <div class="col-md-12">
        <h2>User Stories</h2>
        <p>These user stories are at the core of your mission. You'll need to complete them to earn core coin, building up a software application for controlling the rover.</p>
        <p>Be sure to refactor your code once it has been accepted as completed by the mentors, so that major movements are contained in reusable functions that you can use for future stories.</p>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Acceptance Criteria</th>
                                <th>Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for story in site.data.stories.stories %}
                            <tr class="story">
                                <td>{{ story.id }}</td>
                                <td>{{ story.description }}</td>
                                <td>{{ story.acceptance }}</td>
                                <td>{{ story.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h2>Bonus Stories</h2>
                <p>These stories are related to good software engineering practices, and are awarded to any team that's judged to have met the requirements on the final day.</p>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Acceptance Criteria</th>
                                <th>Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for story in site.data.stories.bonusStories %}
                            <tr class="story">
                                <td>{{ story.id }}</td>
                                <td>{{ story.description }}</td>
                                <td>{{ story.acceptance }}</td>
                                <td>{{ story.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  