---
# Add "layout: compress" here to compress the html code
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{site.title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/lib/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}"/>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Mission to Mars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                {% for item in site.navigation %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{  '/setup' | relative_url }}">Setup</a>
                </li>
            </ul>
        </div>
    </nav>

    {{ content }}

    <footer id="site-footer">
        <div class="container">
            <p></p>
            <div class="row">
            </div>
        </div>
    </footer>

    <script src="{{ '/assets/js/lib/jquery.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/lib/bootstrap.bundle.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/lib/bsCustomFileInput.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/lib/chart.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/coreCoin.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/models.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/FileFunctions.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/missionSetup.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/charts.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/app.js' | relative_url }}" defer></script>
    
    

    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.1.css">
    <script src="https://code.jquery.com/qunit/qunit-2.19.1.js" defer></script>
</body>

</html>